#id_text {
    margin-top: 2ex;
}

.errorlist {
    margin-top: 5px; /* BS3 .help-block */
    color: #b94a48; /* BS3 .has-error .help-block */
    /* BS4 .list-unstyled */
    padding-left: 0;
    list-style-type: none;
}
